:root{
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}

header {
    text-align: center;
}

body {
    text-align: center;
}

footer {
    text-align: center;
}

.Panal-section{/*Acá están contenidos los hexagonos*/
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanquino);
}

.panal-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px; /* Limita el ancho que pueden ocupar los hexagonos para que el tercero no quepa, jugando con esto podemos formar un panal con el número de hexágonos que queramos e.e*/
}

.hexagon {/*Diseño de cada hexagono*/
    display: flex;
    align-items: center;
    height: 200px;
    /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 400px;
    height: 480px;
    /* Un poco más alto para compensar las puntas */
    background: linear-gradient(10deg, var(--gris), var(--rojo));
    /* Degradado */
    margin: 10px;
    position: relative;

    /* Centrar el contenido */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 0.3s ease
}

.hexagon h3{
    font-family: var(--Tittle-and-subtitles);
}

.hexagon p{
    font-family: var(--Content);
}
