:root{
    --pading:25px;
    --extreme-padding:200px;
}

header{
    background-color: rgb(38,41,58);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    opacity: 88%;
}

h1,h4,h5{
    color:whitesmoke;
    text-align: center;
}

.navbar{
    background-color:rgb(165, 108, 219) !important;
    opacity: 88%;
    /*padding-bottom: var(--extreme-padding);*/
}.mi-navbar{
    box-shadow:  -10px -10px 15px #616064,
             10px 10px 35px #616064;
             z-index: 1069;/*Con esto podemos sobreponer cada elemento en profundidad (Eje Z)*/
}

body{
    background-image: url("./Public/img/FondoBosque.jpg");
    background-size: cover;
    background-attachment: scroll; /*Quiero que la imagen se mueva al hacer scroll, posiblemente mostrar otra conforme se scrollee*/
}

img{
    vertical-align: middle;
    border-style: none;
}

.img-fluid{
    
    max-width: 350px; /* Ajusta este valor (300px, 200px, etc.) hasta que te guste */
    height: auto;      /* Mantiene la proporción para que no se vea estirada */
    opacity: 95.6%;
    border-radius: 69px;
    background: linear-gradient(315deg, #5f3f65, #503555);
    box-shadow:  -20px -20px 35px #432686,
             20px 11px 35px #432686;
}.mi-foto{
    align-items: center;
}

.contenedor-principal {
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    overflow: hidden;
    opacity: 80%;
}
   
p{
    padding-left: var(--pading);
    padding-right: var(--pading);
    padding-top: var(--pading);
    color: antiquewhite;
}

