:root{
    --pading:25px;
}

header{
    background-color: rgb(38,41,58);
}

h1,h4,h5{
    color:whitesmoke;
    text-align: center;
}

.navbar{
    background-color:rgb(165, 108, 219) !important;
}

body{
    background-image: url("./Public/img/FondoBosque.jpg");
    background-size: cover;
    background-attachment: scroll; /*Quiero que la imagen se mueva al hacer scroll, posiblemente mostrar otra conforme se scrollee*/
}

.contenedor-principal {
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    overflow: hidden;
    padding-top: var(--pading);
    opacity: 80%;
}
   
p{
    color: antiquewhite;
}